/** styling for range **/
main .form .range-widget-wrapper.decorated input[type="range"] {
    margin: unset;
    padding: unset;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, var(--button-primary-color) calc(100% * var(--current-steps)/var(--total-steps)), var(--form-range-track-color) calc(100% * var(--current-steps)/var(--total-steps)));
}

main .form .range-widget-wrapper.decorated input[type="range"]:focus {
    outline: none;
}

main .form .range-widget-wrapper.decorated input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--background-color-primary);
    border: 3px solid var(--button-primary-color);
    cursor: pointer;
    outline: 3px solid var(--background-color-primary);
}

main .form .range-widget-wrapper.decorated input[type="range"]:focus::-webkit-slider-thumb {
    border-color: var(--button-primary-hover-color);
}

main .form .range-widget-wrapper.decorated .range-bubble {
    color: var(--form-label-color);
    font-size: var(--form-font-size-s);
    line-height: 28px;
    position: relative;
    display: inline-block;
    padding-bottom: 12px;
}

main .form .range-widget-wrapper.decorated .range-min,
main .form .range-widget-wrapper.decorated .range-max {
    font-size: var(--form-font-size-xs);
    line-height: 22px;
    color: var(--form-label-color);
    margin-top: 16px;
    display: inline-block;
}

main .form .range-widget-wrapper.decorated .range-max {
    float: right;
}
